@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Lato:100,300,400&display=swap');

:root {
    --theme: #3498db;
    --secondary: #ecf0f1;
    --white: #ecf0f1;
    --primary: #2c3e50;
}

* {
    margin: 0px;
    padding: 0px;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary);
}

body {
    background-color: var(--primary);
    min-height: 100vh;

    transition: all .2s;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    width: 100vw;
    min-height: 46px;
    height: 5vh;

    position: relative;
    background-color: var(--theme);
}

.nav-content {
    margin: 0 5vw;
    width: 90%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-links {
    display: flex;
    float: right;

    list-style-type: none;
}

.navtab {
    margin-left: 2vw;
    text-transform: uppercase;
}

.navtab,
.hero {
    text-decoration: none;
    font-weight: 300;
    color: var(--white);
    line-height: 5vh;
}

.hero {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

.app {
    width: 100vw;
    min-height: 92.5vh;

    display: flex;
    justify-content: center;

    text-align: center;
    position: relative;
}

.test {
    align-items: center;
}

.word {
    font-size: 40px;
    font-weight: 300;
}

.upload {
    cursor: pointer;
}

.upload:hover,
.mistake-button:hover,
.submit-button:hover,
.download-button:hover,
.addrows-button:hover {
    background-color: var(--theme);
    color: var(--primary);
    transition: all .25s;
}

.input {
    margin-top: 20px;
}

.progress {
    font-size: 15px;
    margin-top: -5px;
    font-style: italic;
}

.response {
    text-align: center;
}

.button {
    border: 1px solid var(--theme);
    border-radius: 3px;
    background-color: var(--primary);
    padding: 10px 80px;
    text-align: center;
}

.button:not(.response) {
    cursor: pointer;
}

.answer {
    display: flex;
    margin-top: 2.5vh;
}

.submit-button {
    padding: 10px 20px !important;
    font-size: 25px;
    font-weight: 300;
    margin-left: 5px;
}

.mistake-list {
    list-style-type: none;
    font-size: 25px;
}

.switch {
    color: var(--primary);
    background-color: var(--theme);
    text-decoration: none;

    padding: 15px;
    border: 1px solid var(--theme);
    border-radius: 360px;

    right: 50px;
    bottom: 50px;
    position: absolute;
}

footer {
    width: 100vw;
    min-height: 23px;
    height: 2.5vh;

    position: relative;
    background-color: var(--theme);
}

.container {
    margin: 0 5vw;
    width: 90%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} .container, .right {
    font-size: 15px;
}.container a {
    text-decoration: underline;
    font-size: 15px;
} .right {
    float: right;
}